

/* Large desktop */
@media (min-width: 1200px) {

.custom{
    height: 620px;
}
 }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

.custom{
    height: 880px;
}
 }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    
 }
 
/* Landscape phones and down */
@media (max-width: 480px) { 
    .custom
    {
    height: 620px;
} 
}