<div >
    <h2>जय बाबा मोहन राम</h2>
    <p class="head_1">बाबा मोहन राम, कलयुग में भगवान कृष्ण के अवतार हैं। बाबा भगवान शिव के लिए कहा है, मोहन भगवान कृष्ण के लिए कहा है और राम भगवान राम के  लिए कहा है।</p>
    <br/>
    <p class="head_1">हर दिन -><br>आता डालकर चींटी जिमाई|<br>आता की लोई बनाकर गाय को खिलाये|<br>पक्षियों के लिये चुगा डाले</p>
    <br/>
    <p class="head_1" style="margin-bottom: 100px;"> हो सके तो हर दोेज (पूर्णिमा के दूसरे दिन द्वित्य तिथि) पर काली खोली धाम जाकर दर्शन करे और प्रसाद चढ़ाये|</p>
    </div>