<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <mat-toolbar class="toolbarNav">
    <button mat-flat-button icon-text routerLink="/info" routerLinkActive="active-link">
      <mat-icon class="material-icons color_blue">
        info</mat-icon>
      <span>जानकारी</span>
    </button>
    <button mat-flat-button routerLink="/chalisa" routerLinkActive="active-link">
      <mat-icon class="material-icons color_blue">library_books
      </mat-icon>
      <span>चालीसा</span>
    </button>
    <button mat-flat-button routerLink="/aarti" routerLinkActive="active-link">
      <mat-icon class="material-icons color_blue">library_music
      </mat-icon>
      <span>आरती</span>
    </button>
    <button mat-flat-button routerLink="/gallery" routerLinkActive="active-link">
      <mat-icon class="material-icons color_blue">monochrome_photos
      </mat-icon>
      <span>गेलरी</span>
    </button>
    <button mat-flat-button routerLink="/experience" routerLinkActive="active-link">
      <mat-icon class="material-icons color_blue">message</mat-icon>
      <span>अनुभव</span>
    </button>
  </mat-toolbar>
</footer>