<footer class="site-footer">
  <div class="footer-links">
    <a routerLink="/info">होम</a>
    <a routerLink="/aarti">आरती</a>
    <a routerLink="/chalisa">चालीसा</a>
    <a routerLink="/gallery">गैलरी</a>
    <a routerLink="/experience">अनुभव</a>
    <a routerLink="/about">हमारे बारे में</a>
    <a routerLink="/contact">संपर्क</a>
    <a routerLink="/privacy-policy">Privacy Policy</a>
    <a routerLink="/disclaimer">Disclaimer</a>
  </div>
  <div class="footer-copy">
    🔱 जय बाबा मोहन राम 🔱 &nbsp;|&nbsp; © {{ year }} jaibabamohanram.co.in
  </div>
</footer>
